html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fafafa;
}

h1{
    padding: 20px;
    text-align: center;
    margin: 0;
}
h2 {
    padding: 10px;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;

}

.sombra {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    border-radius: 10px;
}

.contenedor-barra{
    background-color: #0C6291;
    color: white;
}


/* Formulario */
form {
    padding: 3rem;
    margin-top: 2rem;
}

.campos {
    display: flex;
    justify-content: flex-start;
    
}

.campo {
    padding: .5rem 0;
    margin-right: 1rem;
}
.campo label {
    font-size: 1.2rem;
    font-weight: 700;
}
.campo select {
    width: 100%;
    border: 1px solid #dddddd;
    padding: .5rem;
    height: 3rem;
    margin-top: .5rem;
    font-size: 1rem;
}


/* listado-importaciones */
.imports {
    padding: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.contenedor-imports {
    max-width: 1100px;
    margin: 1rem auto 0 auto;
}
.listado-imports {
    width: 100%;
    margin-top: 1rem;
    border-collapse: collapse;
}
.listado-imports thead {
    background-color: #7E1946;
    color: white;
    text-transform: uppercase;
}
.listado-imports thead th {
    padding: 1rem 0;
}
.listado-imports tbody td {
    padding: .5rem;
    text-align: left;
    border-bottom: 1px solid #0c639113;
}
.total {
    font-weight: 700;
    color: #0C6291;
}